[submodule "borg"]
	path = modules/borg
	url = git@github.com:emacscollective/borg.git
[submodule "cape"]
	path = modules/cape
	url = git@github.com:minad/cape.git
[submodule "closql"]
	path = modules/closql
	url = git@github.com:emacscollective/closql.git
[submodule "color-rg"]
	path = modules/color-rg
	url = https://github.com/manateelazycat/color-rg
[submodule "compat"]
	path = modules/compat
	url = https://git.sr.ht/~pkal/compat
[submodule "consult"]
	path = modules/consult
	url = git@github.com:minad/consult.git
[submodule "corfu"]
	load-path = .
	load-path = extensions
	path = modules/corfu
	url = https://github.com/minad/corfu
[submodule "dash"]
	path = modules/dash
	url = git@github.com:magnars/dash.el.git
[submodule "diff-hl"]
	path = modules/diff-hl
	url = git@github.com:dgutov/diff-hl.git
[submodule "emacsql"]
	path = modules/emacsql
	url = git@github.com:skeeto/emacsql.git
	no-byte-compile = emacsql-pg.el
[submodule "epkg"]
	path = modules/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "git-timemachine"]
	path = modules/git-timemachine
	url = git@github.com:emacsmirror/git-timemachine.git
[submodule "hl-todo"]
	path = modules/hl-todo
	url = git@github.com:tarsius/hl-todo.git
[submodule "hungry-delete"]
	path = modules/hungry-delete
	url = git@github.com:nflath/hungry-delete.git
[submodule "kind-icon"]
	path = modules/kind-icon
	url = https://github.com/jdtsmith/kind-icon
[submodule "llama"]
	path = modules/llama
	url = https://git.sr.ht/~tarsius/llama
[submodule "magit"]
	path = modules/magit
	url = git@github.com:magit/magit.git
[submodule "marginalia"]
	path = modules/marginalia
	url = git@github.com:minad/marginalia.git
[submodule "move-dup"]
	path = modules/move-dup
	url = git@github.com:wyuenho/move-dup.git
[submodule "multiple-cursors"]
	path = modules/multiple-cursors
	url = git@github.com:magnars/multiple-cursors.el.git
[submodule "orderless"]
	path = modules/orderless
	url = git@github.com:oantolin/orderless.git
[submodule "rainbow-delimiters"]
	path = modules/rainbow-delimiters
	url = git@github.com:Fanael/rainbow-delimiters.git
[submodule "shader-mode"]
	path = modules/shader-mode
	url = git@github.com:midnightSuyama/shader-mode.git
[submodule "symbol-overlay"]
	path = modules/symbol-overlay
	url = git@github.com:wolray/symbol-overlay.git
[submodule "use-package"]
	path = modules/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule "vertico"]
	load-path = .
	load-path = extensions
	path = modules/vertico
	url = https://github.com/minad/vertico
[submodule "wgsl-mode"]
	path = modules/wgsl-mode
	url = https://github.com/acowley/wgsl-mode
[submodule "which-key"]
	path = modules/which-key
	url = git@github.com:justbur/emacs-which-key.git
[submodule "with-editor"]
	path = modules/with-editor
	url = git@github.com:magit/with-editor.git
[submodule "ws-butler"]
	path = modules/ws-butler
	url = git@github.com:lewang/ws-butler.git
[submodule "yasnippet"]
	path = modules/yasnippet
	url = git@github.com:joaotavora/yasnippet.git
