[include]
	path = config/borgconfig
[submodule "borg"]
	path = packages/borg
	url = git@github.com:emacscollective/borg.git
[submodule "gcmh"]
	path = packages/gcmh
	url = git@github.com:emacsmirror/gcmh.git
[submodule "compat"]
	path = packages/compat
	url = git@github.com:emacs-compat/compat.git
[submodule "vertico"]
	path = packages/vertico
	url = git@github.com:minad/vertico.git
[submodule "doom-themes"]
	path = packages/doom-themes
	url = git@github.com:doomemacs/themes.git
[submodule "orderless"]
	path = packages/orderless
	url = git@github.com:oantolin/orderless.git
[submodule "corfu"]
	path = packages/corfu
	url = git@github.com:minad/corfu.git
[submodule "rainbow-delimiters"]
	path = packages/rainbow-delimiters
	url = git@github.com:Fanael/rainbow-delimiters.git
[submodule "diff-hl"]
	path = packages/diff-hl
	url = git@github.com:dgutov/diff-hl.git
[submodule "which-key"]
	path = packages/which-key
	url = git@github.com:justbur/emacs-which-key.git
[submodule "move-dup"]
	path = packages/move-dup
	url = git@github.com:wyuenho/move-dup.git
[submodule "hungry-delete"]
	path = packages/hungry-delete
	url = git@github.com:nflath/hungry-delete.git
[submodule "cape"]
	path = packages/cape
	url = git@github.com:minad/cape.git
[submodule "dash"]
	path = packages/dash
	url = git@github.com:magnars/dash.el.git
[submodule "transient"]
	path = packages/transient
	url = git@github.com:magit/transient.git
[submodule "with-editor"]
	path = packages/with-editor
	url = git@github.com:magit/with-editor.git
[submodule "magit"]
	path = packages/magit
	url = git@github.com:magit/magit.git
